
<div class="row">
	<div class="small-12 columns person">
		<img class='profile-img' src="img/kevin.jpg" alt="">
	</div>
</div>
<div class="row">
	<div class="small-12 columns profile">
		<h1>{{photographer.first_name}}</h1>
		<h2>Photographer</h2>
		<div class="line"></div>
		<p class="rates">{{photographer.desc}}</p>
	</div>
</div>
<div class="row">
	<div class="hireme">
		<label>Your email:</label>
		<input type="text" ng-model="email">
		<div id="hire" ng-click="requestPhotographer()" class="button nice-button">Hire</div>
	</div>
</div>